@model IEnumerable<StudyApi_Front.Models.MateriaViewModel>

@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(@TempData["Mensagem"])
    </div>
}

@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(@TempData["MensagemErro"])
    </div>
}

@{
    ViewBag.Title = "Matérias";
}

<h2>Relação de Matérias</h2>

<p>
    @Html.ActionLink("Criar Nova Matéria", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.HorasDoCurso)</th>
        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
        <th>@Html.DisplayNameFor(model => model.DataCriacao)</th>
        <th>@Html.DisplayNameFor(model => model.StatusMateria)</th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.HorasDoCurso)</td>
            <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
            <td>@Html.DisplayFor(modelItem => item.DataCriacao)</td>
            <td>@Html.DisplayFor(modelItem => item.StatusMateria)</td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id },
                    new { onclick = "return confirm('Deseja realmente deletar esta matéria?');" })
            </td>
        </tr>
    }
</table>
